<style>
    .main-div .main-bottom .main-right .teacherInfoManagement .disabled:active{
        color: #fff !important;
    }
    .layer-blue{
        overflow: auto;
        background: #194898;
        color: #fff;
    }
    .layui-layer-title,.layui-layer-ico{
        color: #fff;
    }
    #dataTables-teacherInfoDatas_wrapper{
        margin-top: 15px;
        padding: 0 15px;
    }
</style>
<div class="teacherInfoManagement">
    <h3>基本信息管理</h3>
    <div class="teacherInfoManagement-top">
        <form id="teacherInfoForm">
            <div class="col-md-2">
                <label class="control-label">关键字</label>
                <input type="text" class="form-control" name="keyword" placeholder="姓名/身份证号/手机号">
            </div>
            <div class="col-md-2">
                <label class="control-label">性别</label>
                <select class="form-control" name="sex">
                    <option value="">全部</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">年级</label>
                <select class="form-control" name="gradeNum" id="gradeNumSelect" onchange="loadClassNumList()">
                    <option value="">全部</option>
                    <option  th:each="grade:${gradeNumList}" th:value="${grade.gradeNum}"  th:text="${grade.gradeNum}" ></option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">班级</label>
                <select class="form-control" name="classNum" id="classNumSelect">
                    <option value="">全部</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label">科目</label>
                <select class="form-control" name="subject">
                    <option value="">全部</option>
                    <option  th:each="dict:${dicts}" th:value="${dict.dictId}"  th:text="${dict.dictName}" ></option>
                </select>
            </div>
            <button type="button" class="btn btn-primary searchBtn" onclick="searchteacherInfo()">查询</button>
            <button type="button" class="btn btn-primary searchBtn" onclick="addTeacherInfo()">新增</button>
        </form>
    </div>
    <table id="dataTables-teacherInfoDatas"  class="table table-bordered">
        <thead>
        <tr>
            <th>年级</th>
            <th>班级</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>身份证号</th>
            <th>教授科目</th>
            <th>联系方式</th>
            <th>操作</th>
        </tr>
        <thead>
    </table>
</div>
<script type="text/javascript">
    $('#dataTables-teacherInfoDatas').DataTable({
        ajax : {
            dataType : 'json',
            url : "/teachers/teacherInfoDatas",
            data : function(aoData){
                var jsonData = $("#teacherInfoForm").serializeArray();
                jsonData.forEach(function (e, index) {
                    aoData[e.name] = e.value;
                });
                return aoData;
            }
        },
        serverSide : true,
        searching : false,
        bLengthChange : false,
        lengthMenu : [ 10,20,50 ],
        "columns" : [
            {
                "data" : "gradeNum"
            },
            {
                "data" : "classNum"
            },
            {
                "data" : "name"
            },
            {
                "data" : "sex","render" : function(nRow, indexType,dataObj) {
                   if(nRow==1){
                       return "男";
                   }else if(nRow==2){
                       return "女";
                   }else {
                       return "未知";
                   }
                }
            },
            {
                "data" : "age"
            },
            {
                "data" : "identityNum"
            },
            {
                "data" : "subjectStr"
            },
            {
                "data" : "phone"
            },
            {
                "data" : null,"render" : function(nRow, indexType,dataObj) {
                    var html ="";
                    html+='<button type="button" class="btn btn-success btn-edit" onclick="editTeacherInfoPage('+dataObj.id+')">编辑</button>'  ;
                    html+='<button type="button" class="btn btn-danger btn-del" onclick="delTeacherInfo('+dataObj.id+')">删除</button>'  ;
                    return  html;
                }
            }
        ],
        responsive : true,
        language : dataTablesLanguage
    });

    //查询
    function searchteacherInfo() {
        $('#dataTables-teacherInfoDatas').DataTable().draw();
    }

    //加载班级
    function loadClassNumList(){
        var gradeNum = $("#gradeNumSelect").val();
        if(gradeNum){
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/students/getClassNumList",
                data: {gradeNum:gradeNum},
                success: function (result) {
                    if(result){
                        var obj = result;
                        if(obj && obj.code == 200 && obj.data.length>0){
                            var classObjList = obj.data;
                            $("#classNumSelect").html("");
                            var html="";
                            html+='<option value="">全部</option>';
                            for(var i=0;i<classObjList.length;i++){
                                var classObj=classObjList[i];
                                html+='<option value="'+classObj.classNum+'">'+classObj.classNum+'</option>';
                            }
                            $("#classNumSelect").html(html);
                        }
                    }
                }
            });
        }else{
            var html="";
            html+='<option value="">全部</option>';
            $("#classNumSelect").html(html);
        }
    }

    //修改教师信息
    function editTeacherInfoPage(id) {
        $.ajax({
            type: "POST",
            url: "/teachers/editTeacherInfoPage",
            //async: false,同步
            data: {teacherId:id},
            success: function (html) {
                layer.open({
                    type: 1,
                    skin: 'layer-blue',
                    area: ['600px', '450px'], //宽高
                    content: html
                });
            }
        });
    }

    //删除教师信息
    function delTeacherInfo(id) {
        layer.confirm('您确定删除该教师信息吗？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                type: "POST",
                url: "/teachers/delTeacherInfo",
                //async: false,同步
                data: {id:id},
                success: function (result) {
                    if(result){
                        var obj = JSON.parse(result);
                        if(obj && obj.code == 200){
                            layer.msg(obj.message);
                            $('#dataTables-teacherInfoDatas').DataTable().draw();
                        }
                    }
                }
            });
        }, function(){

        });
    }

    //添加教师信息
    function addTeacherInfo() {
        $.ajax({
            type: "POST",
            url: "/teachers/addTeacherInfoPage",
            //async: false,同步
            success: function (html) {
                layer.open({
                    type: 1,
                    skin: 'layer-blue',
                    area: ['600px', '450px'], //宽高
                    content: html
                });
            }
        });
    }
</script>